
  .restaurant-card__wrapper {
    width: 956px;
  }
  
  .restaurant-card {
    background-color: #fff;
    box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    width: 389px;
    height: 204px;
    display: flex;
    flex-direction: column;
    margin: 80px auto 80px 0;
    align-items: center;
    padding: 38px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  
  .restaurant-card__title {
    font-family: roboto, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #1d1d1d;
  }
  
  .restaurant-card__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .restaurant-card__price {
    font-family: roboto, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
  }
  
  .restaurant-card__time {
    font-family: roboto, sans-serif;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    background: #262626;
    border-radius: 16px;
    width: 97px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }